# Dependencias
node_modules/
.pnpm-store/
.yarn/cache/
.yarn/unplugged/

# Logs
*.log

# Builds
.next/
dist/
out/
coverage/

# Turborepo cache
.turbo/

# Entornos
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Otros
*.pid
*.swp